<!-- templates/post.html -->
{% extends '_base.html' %}

{% block title %}Amor {{ post.title }}{% endblock title %}

{% block content %}
  <div class="post-entry">
    <h2>{{ object.title }}</h2>
    <p>by @{{ object.author }} | {{ object.date }}</p>
    <p>{{ object.body }}</p>
  </div>

{% if post.author.username == user.username %}
  <p><a href="{% url 'post_edit' post.pk %}">Edit</a> |
    <a href="{% url 'post_delete' post.pk %}">Delete</a></p>
{% endif %}


      <div class="post-footer">
        {% for comment in post.comments.all %}
          <p>
            <span class="font-weight-bold">
              @{{ comment.author }} &middot;
            </span>
            {{ comment }}
             &middot; {% if comment.author.username == user.username or post.author.username == user.username %}
            <a href="#">Delete</a>
            {% endif %}
          </p>
        {% endfor %}
      </div>

  <br/>
  <p>Back to <a href="{% url 'home' %}">Home</a>.</p>

{% endblock content %}